<%= render 'layouts/form_errors', form: [@group, @list] %>

<p>
<%= f.label :name, 'List Name' %>
<%= f.text_field :name %>
</p>
<fieldset>
  <legend> Create a New Task(s) </legend>
    <%= f.fields_for :tasks do |task_builder| %>
    <%= task_builder.label :name, 'Task Name' %>
    <%= task_builder.text_field :name %>
    <% end %>
</fieldset>
<br>


<%= f.submit %>
