<h1 class="text-center"><%= @list.name %></h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Task Name</th>
      <th scope="col">Assigned To</th>
      <th scope="col">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @list.tasks.each do |task|%>
    <tr>
      <th> <%=task.name%> </th>
      <td> <%= render "tasks/task_assignment", :task => task %> </td>
      <td> <%= task.task_status %></td>
      <td><%= render "tasks/task_status", :task => task %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Edit List", edit_group_list_path, :class => 'btn btn-primary btn-mini' %>
<br><br>
<%= link_to 'Back', user_path(current_user), :class => 'btn btn-primary btn-mini' %>
