<div id="groupsTable">
  <div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 id="groupName" class="my-0 font-weight-normal"><%=@group.name%></h4>
      </div>
      <div class="row">
      <div class="col-sm-6">
          <div class="card-body">
            <h5 class="card-title">People in this group</h5>
            <ul class="list-group list-group-flush">
            <% @group.users.each do |user|%>
            <div id="groupUsers">
            <li class="list-group-item"> <%=user.email%> </li>
            </div>
            <% end %>
            </ul>
            <br>
            <a href="<%=edit_group_path(@group)%>" class="btn btn-primary">Edit this group</a>
        </div>
      </div>

      <div class="col-sm-6">
          <div class="card-body">
            <h5 class="card-title">Shared lists</h5>
            <ul class="list-group list-group-flush">
            <% @group.lists.each do |list|%>
            <div id="groupLists">
            <li class="list-group-item"><%=link_to list.name, group_list_path(@group, list) %></li>
            </div>
            <% end %>
            </ul>
            <br>
            <a href="<%=new_group_list_path(@group)%>" class="btn btn-primary">Create a new list</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="/groups/<%=@group.id+1%>" id="nextGroup" class='btn btn-primary btn-mini'> Next Group</a>
  </div>
